In [ ]:
!pip install emoji

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting emoji
  Downloading emoji-2.2.0.tar.gz (240 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 240.9/240.9 KB 4.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: emoji
  Building wheel for emoji (setup.py) ... done
  Created wheel for emoji: filename=emoji-2.2.0-py3-none-any.whl size=234926 sha256=987fb2cea838f10fdad455a64536efe4b8977c763230348e8b7fcda156ab1cf6
  Stored in directory: /root/.cache/pip/wheels/9a/b8/0f/f580817231cbf59f6ade9fd132ff60ada1de9f7dc85521f857
Successfully built emoji
Installing collected packages: emoji
Successfully installed emoji-2.2.0

In [ ]:
import pandas as pd
import numpy as np
import re
import emoji

In [ ]:
data=pd.read_csv("/content/corrected_bank_translated.csv.csv")

In [ ]:
data

,comments,years,translated
0,"Sizin Xaçmaz filialınız rus pulunu özü satır, ...",2017.0,Your Khachmaz branch sells Russian money itsel...
1,I have been dealing with this bank approximate...,2022.0,I have been dealing with this bank approximate...
2,No support on weekend. I made payment through ...,2021.0,No support on weekend. I made payment through ...
3,Staff is so polite and cute,2019.0,Staff is so polite and cute
4,"Harikasınız, super güzel teklif",2020.0,"You are amazing, super nice offer"
...,...,...,...
1102,Service level is good.,2019.0,Service level is good.
1103,NaN,NaN,NaN
1104,we called the hotline and they were keeping to...,2021.0,we called the hotline and they were keeping to...
1105,Kind people\t,2022.0,Kind people\t
1106,Bank that turns off ATMs\t,2022.0,Bank that turns off ATMs\t

In [ ]:
data.dropna(how='all', axis=0, inplace=True)

In [ ]:
data.isnull().sum()

comments      0
years         0
translated    0
dtype: int64

In [ ]:
data.reset_index(drop=True, inplace=True)

In [ ]:
data.tail()

,comments,years,translated
995,They serve the people well in a beautiful and ...,2020.0,They serve the people well in a beautiful and ...
996,Service level is good.,2019.0,Service level is good.
997,we called the hotline and they were keeping to...,2021.0,we called the hotline and they were keeping to...
998,Kind people\t,2022.0,Kind people\t
999,Bank that turns off ATMs\t,2022.0,Bank that turns off ATMs\t

In [ ]:
data=data.replace("(\t)", "", regex=True)

In [ ]:
data.head()

,comments,years,translated
0,"Sizin Xaçmaz filialınız rus pulunu özü satır, ...",2017.0,Your Khachmaz branch sells Russian money itsel...
1,I have been dealing with this bank approximate...,2022.0,I have been dealing with this bank approximate...
2,No support on weekend. I made payment through ...,2021.0,No support on weekend. I made payment through ...
3,Staff is so polite and cute,2019.0,Staff is so polite and cute
4,"Harikasınız, super güzel teklif",2020.0,"You are amazing, super nice offer"

In [ ]:
data['translated']= data['translated'].apply(lambda x: emoji.replace_emoji(x, ''))

In [ ]:
data

,comments,years,translated
0,"Sizin Xaçmaz filialınız rus pulunu özü satır, ...",2017.0,Your Khachmaz branch sells Russian money itsel...
1,I have been dealing with this bank approximate...,2022.0,I have been dealing with this bank approximate...
2,No support on weekend. I made payment through ...,2021.0,No support on weekend. I made payment through ...
3,Staff is so polite and cute,2019.0,Staff is so polite and cute
4,"Harikasınız, super güzel teklif",2020.0,"You are amazing, super nice offer"
...,...,...,...
995,They serve the people well in a beautiful and ...,2020.0,They serve the people well in a beautiful and ...
996,Service level is good.,2019.0,Service level is good.
997,we called the hotline and they were keeping to...,2021.0,we called the hotline and they were keeping to...
998,Kind people,2022.0,Kind people
999,Bank that turns off ATMs,2022.0,Bank that turns off ATMs

In [ ]:
#df=pd.DataFrame({'comments':np.nan, 'years':np.nan, 'translated': np.nan}, index=[0,1])

In [ ]:
#datam = pd.concat([data, df]).reset_index(drop = True)

In [ ]:
#datam.loc[998, 'comments']='Kind People'

In [ ]:
#datam.loc[998, 'comments']=float(2022)
#datam.loc[998, 'comments']='Kind people'

In [ ]:
#datam.loc[999, 'comments']='Bank that turns off ATMs in the evening'
##datam.loc[999, 'comments']=float(2022)
#datam.loc[999, 'comments']='Bank that turns off ATMs'

In [ ]:
datam

,comments,years,translated
0,"Sizin Xaçmaz filialınız rus pulunu özü satır, ...",2017.0,Your Khachmaz branch sells Russian money itsel...
1,I have been dealing with this bank approximate...,2022.0,I have been dealing with this bank approximate...
2,No support on weekend. I made payment through ...,2021.0,No support on weekend. I made payment through ...
3,Staff is so polite and cute,2019.0,Staff is so polite and cute
4,"Harikasınız, super güzel teklif",2020.0,"You are amazing, super nice offer"
...,...,...,...
995,They serve the people well in a beautiful and ...,2020.0,They serve the people well in a beautiful and ...
996,Service level is good.,2019.0,Service level is good.
997,we called the hotline and they were keeping to...,2021.0,we called the hotline and they were keeping to...
998,Kind people,2022.0,Kind people
999,Bank that turns off ATMs,2022.0,Bank that turns off ATMs

In [ ]:
data.shape

(1000, 3)

In [ ]:
#data.years=data.years.astype(float)

In [ ]:
datam.dtypes

comments       object
years         float64
translated     object
dtype: object

In [ ]:
data.years=pd.to_datetime(data.years, format='%Y')

In [ ]:
data

,comments,years,translated
0,"Sizin Xaçmaz filialınız rus pulunu özü satır, ...",2017-01-01,Your Khachmaz branch sells Russian money itsel...
1,I have been dealing with this bank approximate...,2022-01-01,I have been dealing with this bank approximate...
2,No support on weekend. I made payment through ...,2021-01-01,No support on weekend. I made payment through ...
3,Staff is so polite and cute,2019-01-01,Staff is so polite and cute
4,"Harikasınız, super güzel teklif",2020-01-01,"You are amazing, super nice offer"
...,...,...,...
995,They serve the people well in a beautiful and ...,2020-01-01,They serve the people well in a beautiful and ...
996,Service level is good.,2019-01-01,Service level is good.
997,we called the hotline and they were keeping to...,2021-01-01,we called the hotline and they were keeping to...
998,Kind people,2022-01-01,Kind people
999,Bank that turns off ATMs,2022-01-01,Bank that turns off ATMs

In [ ]:
#data.years=data.years.dt.to_period('Y')

In [ ]:
data.to_csv("BANK_REVIEWS_DATASET_year.csv")

In [ ]:
data.dtypes

comments              object
years         datetime64[ns]
translated            object
dtype: object