In [4]:
!pip3 install googletrans==3.1.0a0

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==3.1.0a0
  Downloading googletrans-3.1.0a0.tar.gz (19 kB)
  Preparing metadata (setup.py) ... done
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 55.1/55.1 KB 2.5 MB/s eta 0:00:00
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2.10)
Collecting sniffio
  Downloading sniffio-1.3.0-py3-none-any.whl (10 kB)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 42.6/42.6 KB 4.4 MB/s eta 0:00:00
Collecting hstspreload
  Downloading hstspreload-2023.1.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 22.8 MB/s eta 0:00:00
Collecting chardet==3.*
  Downloading chardet-3.0.4-py2.py3-none-any.whl (133 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 133.4/133.4 KB 12.1 MB/s eta 0:00:00
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from httpx==0.13.3->googletrans==3.1.0a0) (2022.12.7)
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 53.6/53.6 KB 6.8 MB/s eta 0:00:00
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 65.0/65.0 KB 7.4 MB/s eta 0:00:00
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.1.0a0-py3-none-any.whl size=16368 sha256=9fc9a94e4d01e930fa5cbdace3e25867a705d8b95ddf223538cfdc48986d46aa
  Stored in directory: /root/.cache/pip/wheels/ae/e1/6c/5137bc3f35aa130deea71575e165cc4f4f0680a88f3d90a636
Successfully built googletrans
Installing collected packages: rfc3986, hyperframe, hpack, h11, chardet, sniffio, hstspreload, h2, httpcore, httpx, googletrans
  Attempting uninstall: chardet
    Found existing installation: chardet 4.0.0
    Uninstalling chardet-4.0.0:
      Successfully uninstalled chardet-4.0.0
Successfully installed chardet-3.0.4 googletrans-3.1.0a0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2023.1.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.3.0

In [19]:
import pandas as pd
import googletrans
from googletrans import *
translator=googletrans.Translator()

In [37]:
data_t=pd.read_csv("/content/tbilisi_emoji.csv", sep=',',  lineterminator='\n')

In [38]:
data_t

,Unnamed: 0,reviews,countries
0,0,Very friendly staff and amazing location close...,United Arab Emirates
1,1,The place is well located in the heart of city...,United Arab Emirates
2,2,"The staff were truly the kindest, attentive an...",South Africa
3,3,"Hotel staff were warm and welcoming, breakfast...",Germany
4,4,Breakfast were freshly prepared and well prese...,United Arab Emirates
...,...,...,...
9664,9664,"Не большой номер. Все чисто, приятно, тепло, у...",Russia
9665,9665,"Отличный отель, рекомендую Шикарное расположе...",Russia
9666,9666,"Дуже зручне розташування, поруч магазини та ре...",Ukraine
9667,9667,все было отлично. размещались тут на неделю с ...,Russia
9668,9668,Das Zimmer war modern und neu eingerichtet. Da...,Germany

In [40]:
data_t["reviews"]=data_t["reviews"].astype(str)
data_t["translated"]=data_t["reviews"].apply(translator.translate, src='auto', dest='en').apply(getattr, args=('text',))

In [41]:
data_t

,Unnamed: 0,reviews,countries,translated
0,0,Very friendly staff and amazing location close...,United Arab Emirates,Very friendly staff and amazing location close...
1,1,The place is well located in the heart of city...,United Arab Emirates,The place is well located in the heart of city...
2,2,"The staff were truly the kindest, attentive an...",South Africa,"The staff were truly the kindest, attentive an..."
3,3,"Hotel staff were warm and welcoming, breakfast...",Germany,"Hotel staff were warm and welcoming, breakfast..."
4,4,Breakfast were freshly prepared and well prese...,United Arab Emirates,Breakfast were freshly prepared and well prese...
...,...,...,...,...
9664,9664,"Не большой номер. Все чисто, приятно, тепло, у...",Russia,"Not a big room. Everything is clean, pleasant,..."
9665,9665,"Отличный отель, рекомендую Шикарное расположе...",Russia,"Excellent hotel, I recommend Gorgeous location..."
9666,9666,"Дуже зручне розташування, поруч магазини та ре...",Ukraine,"Very convenient location, close to shops and r..."
9667,9667,все было отлично. размещались тут на неделю с ...,Russia,everything was great. stayed here for a week w...
9668,9668,Das Zimmer war modern und neu eingerichtet. Da...,Germany,The room was modern and newly furnished. The b...

In [42]:
data_t.drop('Unnamed: 0', axis=1, inplace=True)

In [43]:
df_t=data_t

In [44]:
df_t

,reviews,countries,translated
0,Very friendly staff and amazing location close...,United Arab Emirates,Very friendly staff and amazing location close...
1,The place is well located in the heart of city...,United Arab Emirates,The place is well located in the heart of city...
2,"The staff were truly the kindest, attentive an...",South Africa,"The staff were truly the kindest, attentive an..."
3,"Hotel staff were warm and welcoming, breakfast...",Germany,"Hotel staff were warm and welcoming, breakfast..."
4,Breakfast were freshly prepared and well prese...,United Arab Emirates,Breakfast were freshly prepared and well prese...
...,...,...,...
9664,"Не большой номер. Все чисто, приятно, тепло, у...",Russia,"Not a big room. Everything is clean, pleasant,..."
9665,"Отличный отель, рекомендую Шикарное расположе...",Russia,"Excellent hotel, I recommend Gorgeous location..."
9666,"Дуже зручне розташування, поруч магазини та ре...",Ukraine,"Very convenient location, close to shops and r..."
9667,все было отлично. размещались тут на неделю с ...,Russia,everything was great. stayed here for a week w...
9668,Das Zimmer war modern und neu eingerichtet. Da...,Germany,The room was modern and newly furnished. The b...

In [45]:
df_t.to_csv("tbilisi_translated.csv")